{% extends 'home/base.html' %}
{% load static %}


{% block title %}Home Page{% endblock title %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">What is NC Server</h1>
    <p class="fs-5 text-body-secondary">NC Server offers high-quality server rental services designed to meet the
        needs of businesses of all sizes,
        whether in e-commerce, online platforms, or cloud solutions. We prioritize stability, security, and performance
        to
        ensure your business runs smoothly.</p> <br>
    </p>Because a great server is the foundation of business success.</p>
</div>

{% endblock content %}